Repository binbat/woom, pull requests merged in 2024-11, with the labels that each got.

#10 fix(web): obtain media device label
  .github/CLA.md
  webapp/components/device.tsx
Labels: bug

#14 refactor(webapp): update dependencies; extract unocss config file
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.node.json
  webapp/main.tsx
  webapp/uno.config.ts
  webapp/vite.config.ts
Labels: bug

#20 Fixed none camera or microphone at browser
  .github/CLA.md
  webapp/components/device.tsx
Labels: bug, mod::webapp

#23 Hide share screen button at mobile device
  webapp/components/device.tsx
  webapp/components/player/player.tsx
  webapp/store/atom.ts
Labels: enhancement, mod::webapp

#26 fix {Mikefile} webapp-clean instruction.
  Makefile
Labels: bug, mod::infra

#27 fix unreasonable room user information status
  webapp/components/layout.tsx
  webapp/lib/api.ts
Labels: bug, mod::webapp
